:root {
    --white: '255, 255, 255';
    --black: '0, 0, 0';
    --blood_red: '255, 87, 51';
    --blue: '0, 0, 255';
    --light_blue: '173, 216, 230';
    --purple: '128, 0, 128';
    --green: '0, 128, 0';
    --yellow: '255, 255, 0';
    --orange: '255, 165, 0';
    --gray: '128, 128, 128';
}

html {
    width: 100%;
    min-height: 100dvh;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 1.4em;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(-45deg, #ee7732, #e71c7e, #25a6d5, #22d5ab);
    background-size: 400% 400%;
    animation: bg_animation 45s ease-in-out infinite;
}

@keyframes bg_animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}