:root {
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --blood_red: 255, 87, 51;
    --blue: 0, 0, 255;
    --light_blue: 173, 216, 230;
    --purple: 128, 0, 128;
    --green: 0, 128, 0;
    --yellow: 255, 255, 0;
    --orange: 255, 165, 0;
    --gray: 128, 128, 128;
}

html {
    width: 100%;
    min-height: 100dvh;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 1.4em;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(-45deg, #ee7732, #e71c7e, #25a6d5, #22d5ab);
    background-size: 400% 400%;
    animation: bg_animation 45s ease-in-out infinite;
}

@keyframes bg_animation {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.page_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    container-type: inline-size;
}

.page_title {
    font-size: 8cqw;
    text-align: center;
    color: rgb(var(--white));
    filter: drop-shadow(0.35rem 0.35rem 0.8rem rgb(var(--blue)));
}

.fields_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.field_wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid rgb(var(--black));
    width: 100%;
    container-type: inline-size;
}

.field_wrapper.computer {
    cursor: crosshair;
}

.field_wrapper.player {
    width: 50%;
    align-self: end;
}

@media only screen and (min-width: 35em) {
    .fields_container {
        gap: 40px;
        flex-direction: row;
        justify-content: space-between;
    }

    .field_wrapper {
        width: 45%;
    }

    .field_wrapper.player {
        width: 45%;
    }

    .page_title {
        font-size: 6cqw;
    }
}

.fieldRow {
    display: flex;
    border-bottom: 1px solid rgb(var(--black));
}

.fieldRow:last-child {
    border-bottom: none;
}

.block {
    width: 100%;
    aspect-ratio: 1;
    border-right: 1px solid rgb(var(--black));
    background: rgb(var(--white));
    display: flex;
}

.block:last-child {
    border-right: none;
}
