/* Define color variables using HSL for better readability */
:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --blood-red: hsl(10, 100%, 60%);
    --blue: hsl(240, 100%, 50%);
    --light-blue: hsl(195, 53%, 79%);
    --purple: hsl(300, 100%, 25%);
    --green: hsl(120, 100%, 25%);
    --yellow: hsl(60, 100%, 50%);
    --orange: hsl(39, 100%, 50%);
    --gray: hsl(0, 0%, 50%);
}

/* Global styles */
html {
    width: 100%;
    min-height: 100dvh; /* 100% of the viewport height */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-size: 1.4em;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background: linear-gradient(-45deg, #ee7732, #e71c7e, #25a6d5, #22d5ab); /* Background gradient */
    background-size: 400% 400%; /* Large background for animation */
    animation: bg-animation 45s ease-in-out infinite; /* Animate background */
}

/* Background animation keyframes */
@keyframes bg-animation {
    0%, 100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

/* General text and list styling */
h1, h2, h3, h4, p, li {
    color: var(--white); /* Text color */
    filter: drop-shadow(0.35rem 0.35rem 0.8rem var(--blue)); /* Text shadow */
}

/* Remove default styles from links and buttons */
a, button {
    all: unset;
}

/* Button styling */
.button {
    color: var(--white);
    padding: 10px 20px;
    /*font-size: inherit;*/
    font-weight: 700;
    background-color: var(--blood-red);
    filter: drop-shadow(0.35rem 0.35rem 0.8rem rgba(var(--blood-red), 0.5)); /* Shadow */
    border-radius: 8px;
    transition: background-color 100ms;
    cursor: pointer;
    overflow: hidden;
}

/* Button hover effects */
@media (hover: hover) {
    .button:hover {
        background-color: var(--light-blue);
        color: var(--black);
        filter: drop-shadow(0.35rem 0.35rem 0.8rem rgba(var(--light-blue), 0.5));
    }
}

/* Button active state */
.button:active {
    background-color: var(--light-blue);
    filter: drop-shadow(0.35rem 0.35rem 0.8rem rgba(var(--light-blue), 0.9));
    color: var(--black);
    transform: translateY(2px) translateX(2px); /* Slight move on click */
}

/* Page layout container */
.page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    container-type: inline-size;
}

/* Page title styling */
.page-title {
    font-size: 8cqw;
    text-align: center;
    margin-bottom: 0;
}

/* Container for fields, using flexbox */
.fields-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

/* Field wrapper styling */
.field-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    outline: 4px solid transparent;
    border-radius: 2px;
    width: 100%;
    container-type: inline-size;
}

/* Different styles for computer field */
.field-wrapper.computer {
    cursor: crosshair;
}

/* Different styles for player field */
.field-wrapper.player {
    width: 50%;
    align-self: flex-end;
}

/* Active field styling */
.field-wrapper.active {
    outline: 4px solid var(--green);
    filter: drop-shadow(0.35rem 0.35rem 0.8rem rgba(var(--green), 0.9));
}

/* Media queries for larger screens */
@media only screen and (min-width: 35em) {
    .page-wrapper {
        padding: 30px 40px;
    }

    .fields-container {
        gap: 40px;
        flex-direction: row;
        justify-content: space-between;
    }

    .field-wrapper, .field-wrapper.player {
        width: 45%;
    }

    .page-title {
        font-size: 6cqw;
    }
}

/* Field row styling */
.field-row {
    display: flex;
    border-bottom: 1px solid var(--black);
}

/* Remove border from last row */
.field-row:last-child {
    border-bottom: none;
}

/* Block styling */
.block {
    width: 100%;
    position: relative;
    aspect-ratio: 1; /* Ensure square shape */
    border-right: 1px solid var(--black);
    background: var(--white);
    display: flex;
}

/* Remove border from last block */
.block:last-child {
    border-right: none;
}

/* Ship color styles */
.aircraft-carrier {
    background: var(--purple);
}

.battleship {
    background: var(--blue);
}

.cruiser {
    background: var(--green);
}

.destroyer {
    background: var(--yellow);
}

.submarine {
    background: var(--orange);
}

/* Information block styling */
.information-block {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Computer information block styling */
.information-block.computer {
    background: rgba(var(--white), 0.2);
    box-shadow: 0 4px 30px rgba(var(--black), 0.1);
    backdrop-filter: blur(3px); /* Blur effect */
}

/* Game result text styling */
.game-result-text {
    font-size: 8cqw;
    font-weight: bold;
}

/* Button styling for ships, start, and reset */
.ships-positions-button, .start-button, .reset-button {
    font-size: 4.5cqw;
}

/* Hide reset button initially */
.reset-button {
    display: none;
}

/* Button styling for rules */
.rules-button {
    font-size: 14px;
}

/* Animation for shots */
@keyframes shot-animation {
    from {
        background: var(--blood-red);
    }
    to {
        background: transparent;
    }
}

/* Miss indicator styling */
.miss:after, .miss-around:after {
    content: "";
    width: 30%;
    height: 30%;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Miss styling */
.miss:after {
    background: var(--green);
}

/* Shot animation on miss, shot, and sunk */
.miss:before, .shot:before, .sunk:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    animation: shot-animation 500ms;
}

/* Miss around styling */
.miss-around:after {
    background: var(--gray);
}

/* Shot styling */
.shot:after {
    content: "\002A2F"; /* Unicode for cross */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10cqw;
    color: var(--blood-red);
}

/* Sunk ship styling */
.sunk {
    background: var(--gray);
}

.sunk:after {
    content: "\01F480"; /* Unicode for skull */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5cqw;
}

/* Link to top styling */
.to-top-link {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 15px;
}